on:
  workflow_dispatch:
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "Hello, world!" ${{ github.event.inputs.name }}
      - name: List files
        run: ls -la
      - name: Checkout
        uses: actions/checkout@v4
